.nav_days {
    display: flex;
    margin: 12px 0 28px 0;
    padding-left: 16px;
}

.active {
    color: #049EE8;
    font-weight: 500;
}

.today {
    font-size: 16px;
    line-height: 20px;
    margin-right: 36px;
    cursor: pointer;
}

.days5 {
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}