body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 830px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}

.main-input {
    width: fit-content;
    margin: 0 auto;
}